<!DOCTYPE html>
<html>
<head>
    <title>Accountant Dashboard</title>
</head>
<body>

    <h1>Employee Management System</h1>

    <h2>Accountant Dashboard</h2>

    <p>
        Welcome,
        {{ request.user.get_full_name|default:request.user.username }}
    </p>

    <h3>My Information</h3>

    <p>
        Employee ID:
        {{ request.user.employee_id }}
    </p>

    <p>
        Department:
        {{ request.user.department|default:"Not Assigned" }}
    </p>

    <p>
        Role:
        {{ request.user.get_role_display }}
    </p>

    <hr>

<h3>Accountant Features</h3>

<a href="{% url 'salary_list' %}">
    <button>Salary Management</button>
</a>

<a href="{% url 'payment_list' %}">
    <button>Payment Records</button>
</a>

<a href="{% url 'bank_statement_list' %}">
    <button>Bank Statements</button>
</a>

<button>Accounting Management</button>

<button>Financial Statistics</button>

<a href="{% url 'insurance_list' %}">
    <button>Insurance Management</button>
</a>

<a href="{% url 'insurance_claim_list' %}">
    <button>Insurance Claims</button>
</a>

<a href="{% url 'notifications' %}">
    <button>
        Notifications 🔔

        {% if unread_count > 0 %}
            🔴 {{ unread_count }}
        {% endif %}
    </button>
</a>

<br>

<a href="{% url 'my_profile' %}">
    <button>My Profile</button>
</a>

<a href="{% url 'employee_announcements' %}">
    <button>Announcements</button>
</a>

<a href="{% url 'logout' %}">
    Logout
</a>

</body>
</html>