<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

    <h1>Employee Management System</h1>

    <h2>Admin Dashboard</h2>

    <p>Welcome, Admin.</p>

    <a href="{% url 'add_employee' %}">
        <button>Add Employee</button>
    </a>

    <a href="{% url 'employee_list' %}">
        <button>View Employees</button>
    </a>
    <a href="{% url 'create_announcement' %}">
    <button>Create Announcement</button>
</a>

<a href="{% url 'admin_announcements' %}">
    <button>View Announcements</button>
</a>
<br>

<a href="{% url 'logout' %}">
    <button>Logout</button>
</a>

</body>
</html>