<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
</head>
<body>

    <h1>Employee Management</h1>

    <p>List of employees</p>

    {% for employee in employees %}

        <div>

            <p>
                {{ employee.employee_id }}
                -
                {{ employee.username }}
                -
                {{ employee.role }}
                -
                Manager: {{ employee.manager|default:"Not Assigned" }}
            </p>

            <a href="{% url 'edit_employee' employee.id %}">
                <button>Edit</button>
            </a>

            <a href="{% url 'delete_employee' employee.id %}">
                <button>Delete</button>
            </a>

        </div>

    {% empty %}

        <p>No employees found.</p>

    {% endfor %}

    <br>

    <a href="{% url 'admin_dashboard' %}">
        Back to Admin Dashboard
    </a>

</body>
</html>